#mess {
  font-size: 40px;
}

body {
  background-color: green;
  padding: 12px;
  border: 10px dashed white;
}
input[type=text], [type=time]{
    width: 25%;
    padding: 12px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    font-size: 16px;
}
input[type=date] {
    width: 15%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 16px;
}
input {
    text-align: center;
}
textarea {
  width: 30%;
  padding: 12px 30px;
  margin: 5px 0;
  box-sizing: border-box;
}
#box {
  font-size: 14px;
}
