#mess {
  font-size: 40px;
}

body {
  padding: 12px;
  border: 10px dashed white;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  color: White;
}
input[type=text], [type=time]{
    width: 25%;
    padding: 12px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    font-size: 16px;
}
input[type=date] {
    width: 15%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 16px;
}
input {
    text-align: center;
}
textarea {
  width: 30%;
  padding: 12px 30px;
  margin: 5px 0;
  box-sizing: border-box;
}
#box {
  font-size: 14px;
}
p {
  color: white;

}
form {
  border: 5px;
}
#searchtext {
  color: black;
}
