#mess {
  font-size: 40px;
}

body {
  padding: 12px;
  border: 10px dashed white;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  color: White;
  background-attachment: fixed;
}
input[type=text], [type=time]{
    width: 25%;
    padding: 12px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    font-size: 16px;
}
input[type=date] {
    width: 15%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 16px;
}
input {
    text-align: center;
}
textarea {
  width: 30%;
  padding: 12px 30px;
  margin: 5px 0;
  box-sizing: border-box;
}
#box {
  font-size: 14px;
}
p {
  color: white;

}
#create_post {
  box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
  font-size: 20px;
  color: white;
  background-color:#471b21;
  border: #471b21;
  text-align: center;
  text-decoration: none;
  line-height: 57.5px;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}


.Sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #471b21;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.barpost a {
  font-family: Montserrat;
  font-size: 30px;
  font-color: white;
  transition: 0.3s;
}

span {
  font-family: cursive;
  font-size: 60px;
  font-weight: bold;
  color: white;
}
