
.Sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #471b21;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.barpost a {
  font-family: Montserrat;
  font-size: 30px;
  font-color: white;
  transition: 0.3s;
}

button {
  font-size: 20px;
  color: white;
  background-color:#471b21;
  border: #471b21;
  text-align: center;
  text-decoration: none;
  line-height: 34px;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
