<html>
<head>
  <link rel= "stylesheet" href= "/resources/addPost.css">
  <link rel="shortcut icon" href="/resources/favicon.ico" />
  <title>Add Food Post</title>

</head>
<body>
<center>
<h1>Please Enter Your Free Food Event</h1>
<form method="post">
  <p>Your Name: </p>
  <input type="text" name="personname">
  <p>Type of Food:</p>
   <input type="text" name="food_type">
  <p>Location: </p>
  <input type="text" name="location">
  <p>Date: </p>
  <input type="datetime.date" name="date">
  <p>Time Event Starts:</p>
  <input type="datetime.time" name="time_begin">
  <p>Time Event Ends:</p>
  <input type="datetime.time" name="time_end">
  <p>Message: <p>
  <textarea rows="5" cols="80" id="mess" name="message"></textarea>

  <h2><button type="submit" value="Create Post!">Create Post!</button><h2>
</center>


</form>
</body>
</html>
