<html>
<head>
  <link rel= "stylesheet" href= "/resources/addPost.css">
  <link rel="shortcut icon" href="/resources/favicon.ico" />
  <title>Add Food Post</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body background="https://media2.giphy.com/media/l0K4gVY1ZgrawmdB6/giphy.gif">
  <div id="main" style="marginLeft:0px;">
  <span style="font-size:30px;cursor:pointer" id="menu">☰ Menu</span></div>
    <div id="mySideBar" class="Sidebar">

      <a href="/addpost" class="barpost"><button>Create Post</button></a></br>
      <a href="/search" class="barpost"><button>Search Posts</button></a></br>
      <a href="/allposts" class="barpost"><button>Show Posts</button></a>
    </div>
<center>
<h1>Please Enter Your Free Food Event</h1>
<form method="post" class="form">
  <p>Your Name: </p>
  <input type="text" name="personname" id="personname">

  <p>Type of Food:</p>
   <input type="text" name="food_type" id="food_type">

  <p>Location: </p>
  <input type="text" name="location" id="location">

  <p>Date: </p>
  <input type="date" name="date" id="date">

  <p>Time Event Starts:</p>
  <input type="time" name="time_begin" id="time_begin">

  <p>Time Event Ends:</p>
  <input type="time" name="time_end" id="time_end">

  <p>Message: <p>
  <textarea rows="5" cols="80" id="mess" name="message"></textarea>

  <h2><button type="submit" value="create_post" id="create_post">Create Post!</button><h2>
</center>


</form>

<script src="resources/addpost.js"></script>
</body>
</html>
