<html>
<head>
  <link rel= "stylesheet" href= "/resources/addPost.css">
  <title>Add Food Post</title>

</head>
<body>
<form method="post">
  <p>Your Name: <input type="text" name="personname"></p>
  <p>Type of Food: <input type="text" name="food_type"></p>
  <p>Location: <input type="text" name="location"></p>
  <p>Date: <input type="date" name="date"></p>
  <p>Time Event Starts: <input type="text" name="time_begin"></p>
  <p>Time Event Ends: <input type="text" name="time_end"></p>
  <p>Message: <textarea rows="7" cols="90" id="mess">
</textarea><p>

<button type="submit" value="Create Post!">Create Post!</button>


</form>
</body>
</html>
