<html>
<head>
	<title>All Posts</title>
  <link rel="shortcut icon" href="/resources/favicon.ico" />
  <link rel="stylesheet" href="/resources/addPost.css" />
</head>
<body background="http://37.media.tumblr.com/d7c3b56ae37fadb53a62bb5239ca4f48/tumblr_muq0foNvFu1si4e7ko1_500.gif">
	{% if post|length > 0 %}
		<h1 style="color: black">All the Posts!</h1>
		{% for posts in post %}
		<div id="search_results" style="color: black">
        {{ posts.personname }},
        {{ location }},
        {{ posts.food_type }},
        {{ posts.created }},
        {{ posts.time_begin}} - {{ posts.time_end }},
        {{ posts.message }}
    </div>
		{% endfor %}
	{% else %}
		<p>We don't know about food near your location. Sorry!</p>
	{% endif %}
  <a href="/addpost">Add Another Post!</a>
  <a href="/menu">Return to Menu</a>
  <a href="/search">Search</a>
</body>
</html>
