<html>
<head>
	<title>All Posts</title>
  <link rel="shortcut icon" href="/resources/favicon.ico" />
  <link rel="stylesheet" href="/resources/allposts.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body background="https://media3.giphy.com/media/WQMgnHWQdyZjO/giphy.gif">
	<div id="main" style="marginLeft:0px;">
  <span style="font-size:30px;cursor:pointer" id="menu">☰ Menu</span></div>
    <div id="mySideBar" class="Sidebar">
      <a href="/menu" class="barpost"><button>Home</button></a></br>
      <a href="/addpost" class="barpost"><button>Create Post</button></a></br>
      <a href="/search" class="barpost"><button>Search Posts</button></a></br>
      <a href="/allposts" class="barpost"><button>Show Posts</button></a>
    </div>

	{% if post|length > 0 %}
		<center><h1>All the Posts!</h1></center>
		{% for posts in post %}
		<span id="search_results" style="color: black">
        <h2>Username: {{ posts.personname }} </br>
        Location: {{ posts.location }},</br>
      Food Type: {{ posts.food_type }},</br>
        Time: {{ posts.time_begin}} - {{ posts.time_end }},</br>
      Message:  {{ posts.message }}</h2>
		<button id="delete" type="button"><a href="/deletepost">Delete</a></button>
    </span>

		{% endfor %}
	{% else %}
		<p>We don't know about food near your location. Sorry!</p>
	{% endif %}

	<script src="resources/allposts.js"></script>
</body>
</html>
