<html>
<head>
  <link rel= "stylesheet" href= "/resources/food.css">
  <link rel="shortcut icon" href="/resources/favicon.ico" />
  <title> Calendar </title>
</head>
<body background="https://media.giphy.com/media/3oz8xB06mHyoGE7ZoQ/source.gif">
  <center>
  <h1>Calendar</h1>
  <iframe src="https://calendar.google.com/calendar/embed?title=Free%20Food%20Events&amp;height=600&amp;wkst=1&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=61abte9o4ju380nttkmui4m7a0%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FNew_York"></iframe>
  <a href="/addpost">Add Another Post!</a>
  <a href="/menu">Return to Menu</a>
  <a href="/search">Search</a>
  </center>
</body>
</html>
