<html>
<head>
  <link rel= "stylesheet" href= "/resources/food.css">
  <link rel="shortcut icon" href="/resources/favicon.ico" />
  <title> Calendar </title>
</head>
<body background="https://media.giphy.com/media/3oz8xB06mHyoGE7ZoQ/source.gif">
  <h1>Calendar</h1>
  <iframe src="https://calendar.google.com/calendar/embed?src=61abte9o4ju380nttkmui4m7a0%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="1400" height="600" frameborder="0" scrolling="no"></iframe>
  <a href="/addpost">Add Another Post!</a>
  <a href="/menu">Return to Menu</a>
  <a href="/search">Search</a>
</body>
</html>
