<html>
<head>
  <link rel= "stylesheet" href= "/resources/calendar.css">
  <link rel="shortcut icon" href="/resources/favicon.ico" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <title> Calendar </title>
</head>
<body>
  <center>
  <h1>Calendar</h1>
</center>
  <div id="main" style="marginLeft:0px;">
  <span style="font-size:30px;cursor:pointer" id="menu">☰ Menu</span></div>
    <div id="mySideBar" class="Sidebar">
      <a href="/menu" class="barpost"><button class="barpost">Home</button></a></br>
      <a href="/addpost" class="barpost"><button class="barpost">Create Post</button></a></br>
      <a href="/search" class="barpost"><button class="barpost">Search Posts</button></a></br>
      <a href="/allposts" ><button class="barpost">Show Posts</button></a></br>
      <a href="/calendar" class="barpost"><button>Calendar</button></a></br>
      {% if user: %}
      <a href="{{ log_out }}" class="barpost"><button>{{ user }}, </br>Sign Out</button></a></br>
      {% else: %}
        <a href="/log_in" class="barpost"><button>Sign In!</button></a></br>
      {% endif %}
    </div>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Select a Month</button></br></br>
  <div id="myDropdown" class="dropdown-content">
    <p id="jan">January</p>
    <p id="feb">February</p>
    <p id="mar">March</p>
    <p id="apr">April</p>
    <p id="may">May</p>
    <p id="jun">June</p>
    <p id="jul">July</p>
    <p id="aug">August</p>
    <p id="sep">September</p>
    <p id="oct">October</p>
    <p id="nov">November</p>
    <p id="dec">December</p>
  </div>
</div>

<div class="month">
  <ul>
    <!-- <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li> -->
    <li>
      <p id="monthy"></p><br>
      <span style="font-size:18px">2017</span>
    </li>
  </ul>
</div>
<table style="width:100%">
  <tr class="weekdays">
    <th>Su</th>
    <th>Mo</th>
    <th>Tu</th>
    <th>We</th>
    <th>Th</th>
    <th>Fr</th>
    <th>Sa</th>
  </tr>
  <tr id="week1" class="weeks"></tr>
  <tr class="weeks"></tr>
  <tr class="weeks"></tr>
  <tr class="weeks"></tr>
  <tr class="weeks"></tr>


</table>
<script src="resources/calendar.js"></script>
</body>
</html>
