<html>
<head>
	<title>Food Type: {{ food_type }}</title>
  <link rel="shortcut icon" href="/resources/favicon.ico" />
  <link rel="stylesheet" href="/resources/addPost.css" />
</head>
<body background="https://media.giphy.com/media/14yquCbnbigBZC/giphy.gif">
	{% if post|length > 0 %}
		<h1>Food Type: {{ food_type }}</h1>

		<ul>
		{% for posts in post %}
			<li id="search_text">{{ posts }}</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>We don't have that type of food yet. Sorry!</p>
	{% endif %}

</body>
</html>
